/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 12, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 14, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 18, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 22, ../scss/style.scss */
html {
  box-sizing: border-box;
}

/* line 25, ../scss/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/***** SITE STYLES *************/
/**********************************/
/* line 32, ../scss/style.scss */
body {
  font-family: 'Open Sans';
  color: #4f4f4f;
}

/* line 36, ../scss/style.scss */
h2 {
  color: #2d2d2d;
  font-weight: 300px;
}

/* line 40, ../scss/style.scss */
p {
  line-height: 1.5em;
}

/***** SITE STYLES *************/
/**********************************/
/* line 46, ../scss/style.scss */
.wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

/* line 51, ../scss/style.scss */
.navigation {
  padding: 1em 0px;
}
/* line 53, ../scss/style.scss */
.navigation .full-navigation, .navigation .mobile-navigation {
  display: none;
}
/* line 56, ../scss/style.scss */
.navigation img {
  width: 60%;
  max-width: 150px;
}

/* line 61, ../scss/style.scss */
.main-large-image {
  position: relative;
  background: url("../img/insurance-large.jpg") no-repeat;
  height: 500px;
  max-width: 1500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 0.5px solid #f4f4f4;
  -webkit-box-shadow: 0px 3px 5px 0px #918f91;
  -moz-box-shadow: 0px 3px 5px 0px #918f91;
  box-shadow: 0px 1px 3px 0px #918f91;
}
/* line 74, ../scss/style.scss */
.main-large-image .overlay-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 50%;
  padding: 1em;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.01) 100%);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 82, ../scss/style.scss */
.main-large-image .overlay-text h1 {
  color: white;
  font-size: 2em;
  margin: 0;
}
/* line 87, ../scss/style.scss */
.main-large-image .overlay-text h3 {
  color: white;
  line-height: 1em;
}

/* line 93, ../scss/style.scss */
.subpage-heading {
  background-color: #2a4a7a;
  padding: 1em 0;
}
/* line 96, ../scss/style.scss */
.subpage-heading h1 {
  color: white;
  font-size: 1.5em;
}

/* line 102, ../scss/style.scss */
.services-text {
  padding: 1em 0 0 0;
}

/* line 105, ../scss/style.scss */
.subpage-main-content {
  position: relative;
  padding: 2em 0px;
}
/* line 108, ../scss/style.scss */
.subpage-main-content img {
  display: block;
  width: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #4f4f4f;
}
/* line 114, ../scss/style.scss */
.subpage-main-content h2 {
  padding: 0.5em 0;
}
/* line 117, ../scss/style.scss */
.subpage-main-content li {
  padding: 0.5em 0;
}
/* line 120, ../scss/style.scss */
.subpage-main-content p {
  line-height: 1.4em;
}

/* line 124, ../scss/style.scss */
.sidebar {
  position: relative;
  display: block;
  padding: 0 0 2em 0;
}
/* line 128, ../scss/style.scss */
.sidebar ul {
  list-style: none;
}
/* line 131, ../scss/style.scss */
.sidebar ul:first-child {
  padding: 0;
}
/* line 134, ../scss/style.scss */
.sidebar ul:nth-child(2) {
  padding-left: 6px;
}
/* line 137, ../scss/style.scss */
.sidebar li {
  padding: 5px;
}
/* line 140, ../scss/style.scss */
.sidebar .em {
  padding: 0px;
  font-weight: 700;
}
/* line 144, ../scss/style.scss */
.sidebar a {
  font-size: 1em;
  text-decoration: none;
  color: #2a4a7a;
  font-weight: 400px;
  padding: 10px 7.5px 0px 7.5px;
  line-height: 1.5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 152, ../scss/style.scss */
.sidebar a:hover {
  color: #be292e;
}
/* line 156, ../scss/style.scss */
.sidebar h3 {
  color: #2d2d2d;
  margin: 0em 0;
}

/* line 161, ../scss/style.scss */
.col-2 {
  padding: 0 0 3em 0;
}
/* line 163, ../scss/style.scss */
.col-2 a {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 1em 0px;
  text-decoration: none;
}
/* line 170, ../scss/style.scss */
.col-2 img {
  display: block;
  width: 100%;
  max-width: 500px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #4f4f4f;
}

/* line 179, ../scss/style.scss */
.col-4 div {
  padding: 0 0 1em 0;
  border-bottom: 1px solid #f4f4f4;
}
/* line 182, ../scss/style.scss */
.col-4 div:last-child {
  border-bottom: none;
}
/* line 186, ../scss/style.scss */
.col-4 img {
  width: 95%;
  max-width: 500px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #4f4f4f;
}
/* line 192, ../scss/style.scss */
.col-4 p {
  margin-bottom: 0px;
}
/* line 195, ../scss/style.scss */
.col-4 a {
  padding: 5px;
  color: #be292e;
}

/* line 201, ../scss/style.scss */
footer {
  color: white;
  border-bottom: 6px solid #f4f4f4;
}
/* line 204, ../scss/style.scss */
footer input {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 46px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: 6px;
  color: #2d2d2d;
}
/* line 215, ../scss/style.scss */
footer button {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 46px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: 6px;
  border: none;
  margin-top: 0.5em;
  background-color: #be292e;
  font-weight: 700;
}
/* line 229, ../scss/style.scss */
footer img {
  max-width: 50px;
  display: inline-block;
  padding: 0px 5px;
  opacity: 0.9;
}
/* line 234, ../scss/style.scss */
footer img:hover {
  opacity: 0.75;
}
/* line 238, ../scss/style.scss */
footer .newsletter {
  padding: 2em 2em 3em 2em;
  background-color: #5bc0de;
}
/* line 241, ../scss/style.scss */
footer .newsletter p {
  font-size: 1.7em;
  text-align: center;
  margin-top: 0px;
  font-weight: 700;
}
/* line 249, ../scss/style.scss */
footer .social-footer {
  background-color: #2a4a7a;
  padding: 1em;
  text-align: center;
}
/* line 253, ../scss/style.scss */
footer .social-footer nav {
  padding: 15px;
}
/* line 255, ../scss/style.scss */
footer .social-footer nav ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style: none;
}
/* line 262, ../scss/style.scss */
footer .social-footer nav li {
  padding: 5px 0px;
}
/* line 265, ../scss/style.scss */
footer .social-footer nav a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
}
/* line 272, ../scss/style.scss */
footer .social-footer div {
  display: none;
}
/* line 275, ../scss/style.scss */
footer .social-footer p {
  font-size: .7em;
  margin: 0;
}

@media screen and (min-width: 650px) {
  /* line 282, ../scss/style.scss */
  .wrapper {
    width: 95%;
    max-width: 1500px;
  }

  /* line 287, ../scss/style.scss */
  .navigation img {
    max-width: 200px;
    float: left;
  }
  /* line 291, ../scss/style.scss */
  .navigation .full-navigation {
    display: block;
    position: absolute;
    top: 2.6em;
    right: 0;
  }
  /* line 296, ../scss/style.scss */
  .navigation .full-navigation li {
    display: inline-block;
    margin: 0px 5px;
  }
  /* line 300, ../scss/style.scss */
  .navigation .full-navigation a {
    color: #be292e;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 5px;
    border: 1.5px solid white;
    font-weight: 700;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    transition: ease-in-out 0.2s;
  }
  /* line 309, ../scss/style.scss */
  .navigation .full-navigation a:hover {
    border: 1.5px solid #be292e;
  }

  /* line 315, ../scss/style.scss */
  .mobile-icon {
    display: none;
  }

  /* line 318, ../scss/style.scss */
  .col-2 {
    text-align: center;
  }
  /* line 320, ../scss/style.scss */
  .col-2 a {
    display: inline-block;
    width: 49%;
    padding: 1em 0px;
  }
  /* line 325, ../scss/style.scss */
  .col-2 img {
    width: 95%;
    transition: ease all 0.5s;
  }
  /* line 328, ../scss/style.scss */
  .col-2 img:hover {
    border: 1px solid #f4f4f4;
  }

  /* line 333, ../scss/style.scss */
  .col-4 {
    text-align: center;
    padding: 0 0 2em 0;
  }
  /* line 336, ../scss/style.scss */
  .col-4 div {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 0px;
    border-bottom: none;
    margin: 0px 2%;
    max-width: 700px;
  }
  /* line 345, ../scss/style.scss */
  .col-4 p, .col-4 h2 {
    text-align: left;
  }
  /* line 348, ../scss/style.scss */
  .col-4 h4 {
    padding: 2em 0;
    text-align: left;
    width: 75%;
  }
  /* line 353, ../scss/style.scss */
  .col-4 img {
    width: 98%;
    transition: ease all 0.3s;
  }
  /* line 356, ../scss/style.scss */
  .col-4 img:hover {
    border: 1px solid #f4f4f4;
  }

  /* line 362, ../scss/style.scss */
  .subpage-heading h1 {
    font-size: 2em;
    margin: 0.2em 0;
  }

  /* line 367, ../scss/style.scss */
  .subpage-container {
    padding: 2em 0em;
  }

  /* line 370, ../scss/style.scss */
  .subpage-main-content {
    width: 75%;
    float: left;
  }
  /* line 373, ../scss/style.scss */
  .subpage-main-content img {
    display: block;
    width: 95%;
  }
  /* line 377, ../scss/style.scss */
  .subpage-main-content p {
    width: 93%;
  }

  /* line 382, ../scss/style.scss */
  .services-text p {
    width: 90%;
  }

  /* line 386, ../scss/style.scss */
  .sidebar {
    position: relative;
    display: block;
    width: 35%;
    float: right;
    padding: 1.8em 0em 0 0;
  }
  /* line 392, ../scss/style.scss */
  .sidebar ul:first-child {
    padding: 0;
  }
  /* line 395, ../scss/style.scss */
  .sidebar ul:nth-child(2) {
    padding-left: 6px;
  }
  /* line 398, ../scss/style.scss */
  .sidebar li {
    padding: 5px;
  }
  /* line 401, ../scss/style.scss */
  .sidebar .em {
    padding: 0px;
    font-weight: 700;
  }
  /* line 405, ../scss/style.scss */
  .sidebar a {
    font-size: 1em;
    text-decoration: none;
    color: #2a4a7a;
    font-weight: 400px;
    padding: 10px 0px 0px 7.5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  /* line 412, ../scss/style.scss */
  .sidebar a:hover {
    color: #be292e;
    font-weight: 700;
  }
  /* line 418, ../scss/style.scss */
  .sidebar h3 {
    color: #2d2d2d;
    margin: 0em 0;
  }

  /* line 424, ../scss/style.scss */
  .social-footer nav {
    padding: 1em;
  }
  /* line 426, ../scss/style.scss */
  .social-footer nav li {
    display: inline-block;
  }
  /* line 430, ../scss/style.scss */
  .social-footer nav a:hover {
    opacity: 0.6;
  }
}
@media screen and (min-width: 1000px) {
  /* line 438, ../scss/style.scss */
  .main-large-image {
    width: 100%;
    margin: 0 auto;
  }

  /* line 442, ../scss/style.scss */
  .col-2 {
    text-align: center;
  }
  /* line 444, ../scss/style.scss */
  .col-2 a {
    display: inline-block;
    width: 24.5%;
  }

  /* line 449, ../scss/style.scss */
  .col-4 {
    text-align: center;
  }
  /* line 451, ../scss/style.scss */
  .col-4 div {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
    margin: 0px 2%;
  }
  /* line 458, ../scss/style.scss */
  .col-4 p {
    text-align: left;
  }

  /* line 463, ../scss/style.scss */
  .navigation .full-navigation {
    right: 0;
  }

  /* line 467, ../scss/style.scss */
  .subpage-main-content {
    width: 70%;
  }

  /* line 471, ../scss/style.scss */
  .services-text p {
    width: 75%;
  }

  /* line 475, ../scss/style.scss */
  .sidebar {
    width: 25%;
  }

  /* line 479, ../scss/style.scss */
  footer input {
    max-width: 600px;
  }
  /* line 482, ../scss/style.scss */
  footer button {
    max-width: 600px;
  }
}
