/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 7, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 9, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 13, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 17, ../scss/style.scss */
html {
  box-sizing: border-box;
}

/* line 21, ../scss/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/***** SITE STYLES *************/
/**********************************/
/* line 30, ../scss/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  color: #435363;
}

/* line 34, ../scss/style.scss */
h2 {
  color: #2d2d2d;
  font-weight: 300px;
}

/* line 38, ../scss/style.scss */
p {
  line-height: 1.5em;
  font-size: 1.1em;
}

/* line 43, ../scss/style.scss */
#activeNav {
  border: 1.5px solid #2a4a7a;
}

/* line 47, ../scss/style.scss */
#activeSideBar {
  color: #be292e;
  font-weight: 700;
}

/***** SITE STYLES *************/
/**********************************/
/* line 54, ../scss/style.scss */
.wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

/* line 61, ../scss/style.scss */
.navigation .full-navigation {
  background-color: #2a4a7a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 5px;
}
/* line 69, ../scss/style.scss */
.navigation .full-navigation ul {
  text-align: center;
  margin: 0;
  padding: 0.7em;
}
/* line 74, ../scss/style.scss */
.navigation .full-navigation li {
  display: inline-block;
  margin: 0.5%;
}
/* line 78, ../scss/style.scss */
.navigation .full-navigation a {
  text-align: center;
  color: white;
  padding: 10px 4px;
  text-decoration: none;
  font-size: 0.9em;
}
/* line 86, ../scss/style.scss */
.navigation img {
  display: block;
  padding: 0em 0 0em 0;
  width: 60%;
  margin: 4.7em auto 0.7em auto;
  max-width: 170px;
}

/* line 94, ../scss/style.scss */
.main-large-image {
  position: relative;
  background: url("../img/main1.jpg") no-repeat;
  background-position: center center;
  margin-top: 0.5em;
  height: 500px;
  max-width: 1300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 0.5px solid #e8e6e5;
}
/* line 106, ../scss/style.scss */
.main-large-image .overlay-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 1em;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.01) 100%);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 113, ../scss/style.scss */
.main-large-image .overlay-text h2 {
  color: white;
  font-size: 1.5em;
  margin: 0 0;
}
/* line 118, ../scss/style.scss */
.main-large-image .overlay-text h3 {
  color: white;
  margin-top: 0;
  font-weight: 400;
  margin: 0 0;
}

/* line 126, ../scss/style.scss */
.main-text-bar {
  -webkit-box-shadow: 0px -2px 5px 0px #545454;
  -moz-box-shadow: 0px -2px 5px 0px #545454;
  box-shadow: 0px -2px 5px 0px #545454;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1em;
  background-color: #435363;
  margin-bottom: 1.5em;
}
/* line 135, ../scss/style.scss */
.main-text-bar h1 {
  text-align: center;
  font-size: 1em;
  color: white;
  font-weight: 400;
  font-style: italic;
}

/* line 144, ../scss/style.scss */
.subpage-heading {
  margin-bottom: 1em;
  background-color: #2a4a7a;
}
/* line 147, ../scss/style.scss */
.subpage-heading h2 {
  color: white;
  font-size: 1.5em;
  padding: 0.5em;
  font-weight: 500;
  margin: 0;
}
/* line 155, ../scss/style.scss */
.subpage-heading h1 {
  margin: 0 0 1em 0;
}

/* line 159, ../scss/style.scss */
.services-text {
  padding: 1em 0 0 0;
  width: 80%;
}

/* line 163, ../scss/style.scss */
.subpage-main-content {
  position: relative;
  padding: 0em 0px;
}
/* line 166, ../scss/style.scss */
.subpage-main-content img {
  display: block;
  width: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 171, ../scss/style.scss */
.subpage-main-content h1 {
  margin-top: 0em;
}
/* line 174, ../scss/style.scss */
.subpage-main-content h2 {
  padding: 0.5em 0;
}
/* line 177, ../scss/style.scss */
.subpage-main-content li {
  padding: 0.5em 0;
}
/* line 180, ../scss/style.scss */
.subpage-main-content p {
  line-height: 1.6em;
}

/* line 184, ../scss/style.scss */
.sidebar {
  position: relative;
  display: block;
  padding: 2em 0 2em 0;
  margin-top: 2em;
  border-top: 1px solid #e8e6e5;
}
/* line 190, ../scss/style.scss */
.sidebar nav {
  background-color: #f5f8fa;
  padding: 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 195, ../scss/style.scss */
.sidebar ul {
  list-style: none;
  margin-top: .5em;
}
/* line 199, ../scss/style.scss */
.sidebar ul:first-child {
  padding: 0;
}
/* line 202, ../scss/style.scss */
.sidebar ul:nth-child(2) {
  padding-left: 6px;
}
/* line 205, ../scss/style.scss */
.sidebar li {
  padding: 2px;
}
/* line 208, ../scss/style.scss */
.sidebar .em {
  font-weight: 700;
}
/* line 211, ../scss/style.scss */
.sidebar a {
  font-size: 1.1em;
  text-decoration: none;
  color: #2a4a7a;
  font-weight: 400px;
  padding: 10px 7.5px 0px 7.5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 218, ../scss/style.scss */
.sidebar a:hover {
  color: #be292e;
}
/* line 222, ../scss/style.scss */
.sidebar h3 {
  color: #2d2d2d;
  margin: 0em 0;
}

/* line 227, ../scss/style.scss */
.col-2 {
  padding: 0 0 5em 0;
}
/* line 229, ../scss/style.scss */
.col-2 a {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 1em 0px;
  text-decoration: none;
}
/* line 236, ../scss/style.scss */
.col-2 img {
  display: block;
  width: 100%;
  max-width: 500px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 242, ../scss/style.scss */
.col-2 h2 {
  color: #2a4a7a;
}

/* line 246, ../scss/style.scss */
.col-4 {
  padding: 1em 0;
}
/* line 248, ../scss/style.scss */
.col-4 div {
  padding: 3em 0 2em 0;
  border-bottom: 1px solid #e8e6e5;
}
/* line 251, ../scss/style.scss */
.col-4 div:last-child {
  border-bottom: none;
}
/* line 255, ../scss/style.scss */
.col-4 img {
  width: 100%;
  max-width: 500px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 260, ../scss/style.scss */
.col-4 h2 {
  margin-bottom: 0.2em;
}
/* line 263, ../scss/style.scss */
.col-4 p {
  margin: 0 0 0.2em 0;
  text-align: justify;
}
/* line 267, ../scss/style.scss */
.col-4 a {
  text-decoration: none;
}
/* line 270, ../scss/style.scss */
.col-4 .read-more {
  display: block;
  color: #be292e;
  font-weight: 700;
  text-align: left;
}

/* line 279, ../scss/style.scss */
footer {
  color: white;
  border-bottom: 6px solid #e8e6e5;
}
/* line 282, ../scss/style.scss */
footer input {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 46px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: 6px;
  color: #2d2d2d;
}
/* line 293, ../scss/style.scss */
footer button {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 46px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: 6px;
  border: none;
  margin-top: 0.5em;
  background-color: #be292e;
  font-weight: 700;
}
/* line 307, ../scss/style.scss */
footer img {
  max-width: 50px;
  display: inline-block;
  padding: 0px 5px;
  opacity: 0.9;
}
/* line 312, ../scss/style.scss */
footer img:hover {
  opacity: 0.75;
}
/* line 316, ../scss/style.scss */
footer .newsletter {
  padding: 2em 2em 3em 2em;
  background-color: #89cff0;
}
/* line 319, ../scss/style.scss */
footer .newsletter p {
  font-size: 1.7em;
  text-align: center;
  margin-top: 0px;
  font-weight: 700;
}
/* line 327, ../scss/style.scss */
footer .social-footer {
  background-color: #2a4a7a;
  padding: 1em;
  text-align: center;
}
/* line 331, ../scss/style.scss */
footer .social-footer nav {
  padding: 15px;
}
/* line 333, ../scss/style.scss */
footer .social-footer nav ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style: none;
}
/* line 340, ../scss/style.scss */
footer .social-footer nav li {
  padding: 5px 0px;
}
/* line 343, ../scss/style.scss */
footer .social-footer nav a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
}
/* line 350, ../scss/style.scss */
footer .social-footer div {
  display: none;
}
/* line 353, ../scss/style.scss */
footer .social-footer p {
  font-size: .7em;
  margin: 0;
}

@media screen and (min-width: 650px) {
  /* line 360, ../scss/style.scss */
  .wrapper {
    width: 95%;
    max-width: 1000px;
  }

  /* line 365, ../scss/style.scss */
  .navigation img {
    margin: 0;
    margin: 1.5em 0 1em 0;
    max-width: 185px;
    float: left;
  }
  /* line 371, ../scss/style.scss */
  .navigation .full-navigation {
    display: block;
    position: absolute;
    top: 4.5em;
    right: 0;
    left: auto;
    background-color: transparent;
    border: none;
  }
  /* line 379, ../scss/style.scss */
  .navigation .full-navigation ul {
    padding: 0;
  }
  /* line 382, ../scss/style.scss */
  .navigation .full-navigation li {
    display: inline-block;
    margin: 0px 0px 0px 5px;
  }
  /* line 386, ../scss/style.scss */
  .navigation .full-navigation a {
    color: #2a4a7a;
    text-decoration: none;
    font-size: 1.1em;
    padding: 9px 6px;
    border: 1.5px solid white;
    font-weight: 700;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    transition: ease-in-out 0.2s;
  }
  /* line 395, ../scss/style.scss */
  .navigation .full-navigation a:hover {
    border: 1.5px solid #2a4a7a;
  }

  /* line 402, ../scss/style.scss */
  .main-large-image .overlay-text {
    padding: 1.4em;
  }
  /* line 404, ../scss/style.scss */
  .main-large-image .overlay-text h2 {
    font-size: 2.1em;
  }
  /* line 407, ../scss/style.scss */
  .main-large-image .overlay-text h3 {
    font-size: 1.5em;
  }

  /* line 412, ../scss/style.scss */
  .main-text-bar {
    margin-bottom: 2em;
  }

  /* line 415, ../scss/style.scss */
  .col-2 {
    text-align: center;
  }
  /* line 417, ../scss/style.scss */
  .col-2 a {
    display: inline-block;
    width: 49%;
  }
  /* line 421, ../scss/style.scss */
  .col-2 img {
    width: 95%;
    transition: ease all 0.5s;
  }

  /* line 426, ../scss/style.scss */
  .col-4 {
    text-align: center;
    padding: 3em 0 3em 0;
  }
  /* line 429, ../scss/style.scss */
  .col-4 div {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    padding: 1em 0px;
    border-bottom: none;
    margin: 0px 2%;
    max-width: 700px;
  }
  /* line 438, ../scss/style.scss */
  .col-4 p, .col-4 h2 {
    text-align: left;
  }
  /* line 441, ../scss/style.scss */
  .col-4 h4 {
    padding: 2em 0;
    text-align: left;
    width: 75%;
  }
  /* line 446, ../scss/style.scss */
  .col-4 img {
    width: 100%;
    transition: ease all 0.3s;
  }
  /* line 450, ../scss/style.scss */
  .col-4 p {
    margin-top: 0;
  }

  /* line 455, ../scss/style.scss */
  .subpage-heading h2 {
    font-size: 1.6em;
    padding: 0.6em 0;
    margin: 0;
  }
  /* line 460, ../scss/style.scss */
  .subpage-heading h1 {
    margin: 0 0 1em 0;
  }

  /* line 464, ../scss/style.scss */
  .subpage-container {
    padding: 0.5em 0em;
  }

  /* line 467, ../scss/style.scss */
  .subpage-main-content {
    width: 60%;
    float: left;
  }
  /* line 470, ../scss/style.scss */
  .subpage-main-content img {
    display: block;
    width: 80%;
  }
  /* line 474, ../scss/style.scss */
  .subpage-main-content p {
    width: 85%;
    text-align: justify;
  }

  /* line 480, ../scss/style.scss */
  .services-text p {
    width: 90%;
  }

  /* line 484, ../scss/style.scss */
  .sidebar {
    margin-top: 0;
    border: none;
    position: relative;
    display: block;
    width: 38%;
    float: right;
    padding: 0;
  }
  /* line 492, ../scss/style.scss */
  .sidebar ul:first-child {
    padding: 0;
  }
  /* line 495, ../scss/style.scss */
  .sidebar ul:nth-child(2) {
    padding-left: 6px;
  }
  /* line 498, ../scss/style.scss */
  .sidebar li {
    padding: 2px;
  }
  /* line 501, ../scss/style.scss */
  .sidebar .em {
    padding: 0px;
    font-weight: 700;
  }
  /* line 505, ../scss/style.scss */
  .sidebar a {
    font-size: 1.1em;
    text-decoration: none;
    color: #2a4a7a;
    font-weight: 400px;
    padding: 10px 0px 0px 7.5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  /* line 512, ../scss/style.scss */
  .sidebar a:hover {
    color: #be292e;
  }
  /* line 517, ../scss/style.scss */
  .sidebar h3 {
    color: #2d2d2d;
    margin: 0em 0;
  }

  /* line 523, ../scss/style.scss */
  .social-footer nav {
    padding: 1em;
  }
  /* line 525, ../scss/style.scss */
  .social-footer nav li {
    display: inline-block;
  }
  /* line 529, ../scss/style.scss */
  .social-footer nav a:hover {
    opacity: 0.6;
  }
}
@media screen and (min-width: 1000px) {
  /* line 537, ../scss/style.scss */
  .wrapper {
    max-width: 1300px;
  }

  /* line 541, ../scss/style.scss */
  .navigation img {
    max-width: 225px;
    margin: 1.5em 0 1.5em 0;
  }
  /* line 545, ../scss/style.scss */
  .navigation .full-navigation {
    top: 5.6em;
  }
  /* line 547, ../scss/style.scss */
  .navigation .full-navigation a {
    font-size: 1.25em;
  }

  /* line 552, ../scss/style.scss */
  .main-large-image {
    width: 100%;
    margin: 0 auto;
  }

  /* line 556, ../scss/style.scss */
  .main-text-bar {
    margin-bottom: 3em;
  }

  /* line 559, ../scss/style.scss */
  .col-2 {
    text-align: center;
  }
  /* line 561, ../scss/style.scss */
  .col-2 a {
    display: inline-block;
    width: 24.5%;
  }
  /* line 565, ../scss/style.scss */
  .col-2 .special {
    margin-left: 3%;
  }

  /* line 569, ../scss/style.scss */
  .col-4 {
    padding: 0em 0 3em 0;
    text-align: center;
  }
  /* line 572, ../scss/style.scss */
  .col-4 div {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
    margin: 0px 2%;
  }
  /* line 579, ../scss/style.scss */
  .col-4 p {
    text-align: justify;
  }
  /* line 582, ../scss/style.scss */
  .col-4 img {
    width: 100%;
  }

  /* line 586, ../scss/style.scss */
  .subpage-main-content {
    width: 60%;
  }
  /* line 588, ../scss/style.scss */
  .subpage-main-content img {
    display: inline-block;
    width: 95%;
  }
  /* line 594, ../scss/style.scss */
  .subpage-main-content p, .subpage-main-content ul {
    width: 95%;
  }
  /* line 597, ../scss/style.scss */
  .subpage-main-content div {
    margin: 0em 0 0 0;
  }

  /* line 602, ../scss/style.scss */
  .sidebar {
    width: 38%;
  }
  /* line 604, ../scss/style.scss */
  .sidebar a {
    font-size: 1.2em;
  }

  /* line 609, ../scss/style.scss */
  footer .newsletter {
    margin-top: 3em;
  }
  /* line 612, ../scss/style.scss */
  footer input {
    max-width: 600px;
  }
  /* line 615, ../scss/style.scss */
  footer button {
    max-width: 600px;
  }
}


/*********************************************************************/
/* Slider */

.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    width:100%;
    height: auto;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}