@import "Compass";
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
$darkblue:#2a4a7a;
$lightblue:#89cff0;
$lightgrey:#f4f4f4;
$darkgrey:#464646;
$bodytextgrey:#435363;
$black:#2d2d2d;
$red:#be292e;


.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

//Random Image on Reload

/***** SITE STYLES *************/
/**********************************/

body{
	font-family: 'Open Sans';
	color:$bodytextgrey;
}
h2{
	color:$black;
	font-weight:300px;
}
p{
	line-height:1.5em;
	font-size:1.1em;
}

#activeNav{
	border:1.5px solid $darkblue;
}

#activeSideBar{
	color:$red;
	font-weight:700;
}

/***** SITE STYLES *************/
/**********************************/
.wrapper{
	position:relative;
	width:90%;
	margin: 0 auto;
}

.navigation{
	.full-navigation{
		background-color:$darkblue;
		position:fixed;
		top:0;
		left:0;
		right:0;
		z-index: 2;
		padding:5px;
		ul{
			text-align:center;
			margin:0;
			padding:0.7em;
		}
		li{
			display: inline-block;
		}
		a{
			text-align:center;
			color:white;
			padding:10px 4px;
			text-decoration: none;
			font-size: 0.9em;
		}
	}
	img{
		display: block;
		padding:0em 0 0em 0;
		width:60%;
		margin: 4.7em auto 0.7em auto;
		max-width: 170px;
	}
}
.main-large-image{
	position:relative;
	background: url("../img/main1.jpg") no-repeat;
	background-position:center center;
	margin-top:0.5em;
	height:500px; 
	max-width:1500px;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	border-top:0.5px solid $lightgrey;
  	.overlay-text{
  		position:absolute;
  		bottom:20px;
  		left:20px;
  		width: 50%;
  		padding:1em;
  		background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,.01) 100%);
  		@include border-radius(4px);
  		h1{
  			color:white;
			font-size: 2em;
			margin: 0;
  		}
  		h3{
  			color:white;
  			line-height: 1em;
  		}
  	}
}
.main-text-bar{
	-webkit-box-shadow: 0px -2px 5px 0px rgba(84,84,84,1);
	-moz-box-shadow: 0px -2px 5px 0px rgba(84,84,84,1);
	box-shadow: 0px -2px 5px 0px rgba(84,84,84,1);
	max-width:1500px;
	margin: 0 auto;
	padding:1em;
	background-color:$bodytextgrey;
	margin-bottom:1.5em;
	h1{
		text-align: center;
		font-size: 1em;
		color:white;
		font-weight: 400;
		font-style: italic;
	}
}

.subpage-heading{
	margin-bottom:2em;
	background-color:$darkblue;
	h1{
		color:white;
		font-size: 1.5em;
		padding:0.5em;
		font-weight: 500;
		margin: 0;

	}
}
.services-text{
	padding:1em 0 0 0;
	width:80%;
}
.subpage-main-content{
	position:relative;
	padding:0em 0px;
	img{
		display:block;
		width:100%;
		@include border-radius(4px);
	}
	h2{
		padding:0.5em 0;
	}
	li{
		padding:0.5em 0;
	}
	p{
		line-height: 1.4em;
	}
}
.sidebar{
	position:relative;
	display: block;
	padding:2em 0 2em 0;
	margin-top:2em;
	border-top: 1px solid $lightgrey;
	nav{
		background-color:#f5f8fa;
    	padding: 1em;
    	@include border-radius(5px);
	}
	ul{
		list-style: none;
	}
	ul:first-child{
		padding:0;
	}
	ul:nth-child(2){
		padding-left:6px;
	}
	li{
		padding:5px;
	}
	.em{
		padding:0px;
		font-weight:700;
	}
	a{
		font-size: 1.1em;
		text-decoration: none;
		color:$darkblue;
		font-weight: 400px;
		padding: 10px 7.5px 0px 7.5px;
		line-height: 1.5px;
		@include border-radius(4px);
		&:hover{
			color:$red;
		}
	}
	h3{
		color:$black;
		margin: 0em 0;
	}
}
.col-2{
	padding:0 0 5em 0;
	a{
		display: block;
		width:90%;
		margin: 0 auto;
		padding:1em 0px;
		text-decoration: none;
	}
	img{
		display: block;
		width: 100%;
		max-width: 500px;
		@include border-radius(4px);
	}
	h2{
		color:$darkblue;
	}
}
.col-4{
	padding:2em 0;
	div{
		padding:0 0 2em 0;
		border-bottom: 1px solid $lightgrey;
		&:last-child{
			border-bottom:none;
		}
	}
	img{
		width: 100%;
		max-width: 500px;
		@include border-radius(4px);
		}
	p{
		margin-bottom:0px;
	}
	.read-more{
		display: block;
		color:$red;
		font-weight: 700;
		text-align:left;
	}

}

footer{
	color:white;
	border-bottom:6px solid $lightgrey;
	input{
		display: block;
		width:80%;
    	margin: 0 auto;
		height: 46px;
    	padding: 10px 10px;
    	font-size: 16px;
    	line-height: 1.3333333;
    	border-radius: 6px;
    	color:$black;
	}
	button{
		display: block;
		width:80%;
    	margin: 0 auto;
		height: 46px;
    	padding: 10px 10px;
    	font-size: 16px;
    	line-height: 1.3333333;
    	border-radius: 6px;
    	border:none;
    	margin-top:0.5em;
    	background-color:$red;
    	font-weight: 700;
	}
	img{
		max-width: 50px;
		display: inline-block;
		padding:0px 5px;
		opacity: 0.9;
		&:hover{
			opacity:0.75;
		}
	}
	.newsletter{
		padding:2em 2em 3em 2em;
		background-color:$lightblue;
		p{
			font-size:1.7em;
			text-align:center;
			margin-top:0px;
			font-weight: 700;
		}

	}
	.social-footer{
		background-color:$darkblue;
		padding:1em;
		text-align:center;
		nav{
			padding:15px;
			ul{
				width:80%;
				margin:0 auto;
				padding:0;
				text-align: center;
				list-style:none;
			}
			li{
				padding:5px 0px;
			}
			a{
				color:white;
				padding:10px 10px;
				text-decoration: none;
			}
		}
		//Social Media
		div{
			display:none;
		}
		p{
			font-size: .7em;
    		margin: 0;
		}
	}	
}
@media screen and (min-width: 650px) {
	.wrapper{
		width:95%;
		max-width: 1300px;
	}
	.navigation{
		img{
			margin:0;
			margin:1.5em 0 1em 0;
			max-width: 185px;
			float:left;
		}
		.full-navigation{
			display: block;
			position:absolute;
			top: 4.5em;
    		right: 0;
    		left: auto;
			background-color:transparent;
			border:none;
			ul{
				padding:0;
			}
			li{
				display:inline-block;
				margin:0px 0px 0px 5px;
			}
			a{
				color:$darkblue;
				text-decoration:none;
				font-size: 1.1em;
				padding:9px 6px;
				border:1.5px solid white;
				font-weight: 700;
				@include border-radius(4px);
				transition: ease-in-out 0.2s;
				&:hover{
					border:1.5px solid $darkblue;
				}
			}
		}
	}
	.main-text-bar{
		margin-bottom:2em;
	}
	.col-2{
		text-align:center;
		a{
			display: inline-block;
			width:49%;
		}
		img{
			width: 95%;
			transition: ease all 0.5s;
		}
	}
	.col-4{
		text-align: center;
		padding:3em 0 3em 0;
		div{
			width:45%;
			display:inline-block;
			vertical-align: top;
			padding:1em 0px;
			border-bottom:none;
			margin:0px 2%;
			max-width:700px;
		}
		p,h2{
			text-align:left;
		}
		h4{
			padding:2em 0;
			text-align:left;
			width:75%;
		}
		img{
			width: 100%;
			transition: ease all 0.3s;
		}
	}
	.subpage-heading{
		margin-bottom:1.5em;
		h1{
			font-size: 1.6em;
    		padding: 0.6em 0;
    		margin: 0;
		}
	}
	.subpage-container{
		padding:2em 0em;
	}
	.subpage-main-content{
		width:60%;
		float:left;
		img{
			display:block;
			width:95%;
		}
		p{
			width:93%;
		}
	}
	.services-text{
		p{
			width:90%;
		}
	}
	.sidebar{
		margin-top:0;
		border:none;
		position:relative;
		display: block;
		width:38%;
		float:right;
		padding:0;
		ul:first-child{
			padding:0;
		}
		ul:nth-child(2){
			padding-left:6px;
		}
		li{
			padding:5px;
		}
		.em{
			padding:0px;
			font-weight:700;
		}
		a{
			font-size: 1.1em;
			text-decoration: none;
			color:$darkblue;
			font-weight: 400px;
			padding: 10px 0px 0px 7.5px;
			@include border-radius(4px);
			&:hover{
				color:$red;
				font-weight: 700;
			}

		}
		h3{
			color:$black;
			margin: 0em 0;
		}
	}
	.social-footer{
		nav{
			padding:1em;
			li{
				display: inline-block;
			}
			a{
				&:hover{
					opacity:0.6;
				}
			}
		}
	}
}
@media screen and (min-width: 1000px) {
	.navigation{
		img{
			max-width: 225px;
			margin:1.5em 0 1.5em 0;
		}
		.full-navigation{
			top:5.6em;
			a{
				font-size: 1.25em;
			}
		}
	}
	.main-large-image{
		width:100%;
		margin:0 auto;
	}
	.main-text-bar{
		margin-bottom:3em;
	}
	.col-2{
		text-align:center;
		a{
			display: inline-block;
			width:24.5%;
		}
		.special{
			margin-left:3%;
		}
	}
	.col-4{
		padding:0em 0 3em 0;
		text-align: center;
		div{
			width:20%;
			display:inline-block;
			vertical-align: top;
			border-bottom:none;
			margin:0px 2%;
		}
		p{
			text-align:left;
		}
		img{
			width: 100%;
		}
	}
	.subpage-main-content{
		width:60%;
	}
	.sidebar{
		width:38%;
		a{
			font-size: 1.2em;
		}
	}
	footer{
		input{
			max-width:600px;
		}
		button{
			max-width:600px;
		}
	}
}
@media screen and (min-width: 1300px) {
	
}







